@import "tailwindcss";

:root {
    --background: #fffafb;
    --foreground: #131515;
    --text: #2b2c29;
    --default: #339989;
    --active: #7de2d1;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #131515;
        --foreground: #fffafb;
        --default: #7de2d1;
        --active: #339989;
    }
}

body {
    box-sizing: border-box;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    @apply flex;
    &.default-panel {
        @apply text-(--background) bg-(--default);
    }
    &.background-panel {
        @apply text-(--foreground) bg-(--background) justify-center items-center;
    }
}

.button {
    @apply flex items-center justify-center px-5 py-2 transition;
    &.button--default {
        @apply bg-(--default) text-[var(--background)] hover:text-[var(--foreground)]  hover:bg-[var(--active)];
    }
    &.button--transparent-border {
        @apply bg-transparent border border-(--default)  text-[var(--default)] hover:text-[var(--foreground)]  hover:bg-[var(--active)]  hover:border-(--active);
    }
    &.button--hover {
        @apply hover:text-[var(--active)];
    }
}

/* ===== Scrollbar Styling ===== */
.custom-scroll {
    overflow-y: auto; /* already on div, but safe */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--text) transparent; /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

[data=loading="true"] {
}
